.movies__layout {
  width: 100%;
  height: auto;
  padding: 1rem 2rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  & .movie {
    width: 100%;
    height: auto;
    margin-bottom: 3rem;
    cursor: pointer;
    transition: 200ms;

    &:hover {
      transform: scale(1.1);
    }

    &__img {
      width: 100%;

      & img {
        width: 100%;
        max-height: 13rem;
        object-fit: cover;
      }

      &:hover ~ .movie__details .details__desc {
        opacity: 1;
      }
    }

    & .movie__details {
      width: 100%;
      padding: 0.5rem 0.3rem;

      & .details__title {
        & P {
          color: $color-white;
          font-size: 17px;
          font-size: 700;
          letter-spacing: 1px;
        }

        & h3 {
          margin-top: 10px;
          font-size: 1.5rem;
          color: $color-white;
          letter-spacing: 1px;
          font-size: 700;
        }
      }

      & .details__desc {
        opacity: 0;
        display: flex;

        & p {
          font-size: 18px;
          font-size: 700;
          color: $color-white;
          letter-spacing: 1px;
          margin-right: 0.3rem;
        }
      }
      //   &:hover > .details__desc {
      //     opacity: 1;
      //   }
    }
  }
}
